# Supabase — Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://kvwlbthtqfryqugwbhwy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2xidGh0cWZyeXF1Z3diaHd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1MTIxOTMsImV4cCI6MjEwMTA4ODE5M30.wCmFxBeWRbCS1PCeg8IxhFt99ILjZt4zpr5u4PpXveA

# Clé serveur — NE JAMAIS exposer au navigateur, NE JAMAIS préfixer NEXT_PUBLIC_
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOi...

# URL publique de l'application (pour les liens de partage)
NEXT_PUBLIC_SITE_URL=http://localhost:3000



SUPABASE_DB_HOST=db.kvwlbthtqfryqugwbhwy.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=<mot-de-passe-postgres>
SUPABASE_DB_NAME=postgres
